/*----------- general styles ---------*/

#easy_backend_summary .inside{
    padding: 0;
    margin: 0;
}

/*----------- list styles ---------*/

#easy_backend_summary li:nth-child(odd) { 
    background: #f6f7f7; }

.ebs-ul{
    column-count: 2;
}

.ebsum_head_settings{
    display: flex;
    margin: 0;
    background-color: #fafafa;
    padding: 2.5%;
    align-items: center;
    justify-content: space-between;
}

.ebsum_setting_categories_wrapper{
    cursor: pointer;
}

.ebsum_button_wrapper{
    text-align: end;
}
.ebsum_button{
    width: 5.5rem;
}
.ebsum_setting_wrapper{
    padding: 2.5%;
    display:none;
}

.ebsum_show_wrapper{
    padding: 2.5%;
    border-bottom: 2px solid rgba(0, 0, 0, .5);
}

.ebsum_show_wrapper li{
    display: grid;
  grid-template-columns: 125px 50px auto;
  column-gap: 10px;
  color: #646970;
  padding: 4px 12px;
}

.ebsum_showheadline{
    display: flex;
}


/*----------- countlabel styles ---------*/

.ebsum_countlabel{
    border: 1px solid lightcoral;
    border-radius: 55px;
    background-color: lightcoral;
    color: white;
    height: 1rem;
    text-align: center;
    font-weight: bold;
    line-height: initial;
    margin-left:0.5rem;
    width: fit-content;
    min-width: 1rem;
}


.ebsum_countlabel.ebsum_zero{
    border: 1px solid lightgray;
    background-color: lightgrey;
    color: darkgray;
    
}

/*----------- changelabel styles ---------*/

.ebsum_change_label{
    border: 1px solid lightgreen;
    border-radius: 55px;
    background-color: lightgreen;
    color: white;
    max-height: 1rem;
    text-align: center;
    font-weight: bold;
    line-height: initial;
}
.ebsum_new_label{
    border: 1px solid lightblue;
    border-radius: 55px;
    background-color: lightblue;
    color: white;
    max-height: 1rem;
    text-align: center;
    font-weight: bold;
    line-height: initial;
}


/*----------- button styles ---------*/

#ebsum_setting_button{
    margin: 10px;
    margin-right: 0;
    background: none;
  border: none;
  cursor: pointer;
}

/*----------- setting styles ---------*/

.ebsum_setting_main{
    display: block;
}

.ebsum_load_warning{
    color: red;
    display: none;
}

.ebsum_show_list{
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}

.ebsum_show_list:last-child{
    border-bottom: none !important;
}

.ebsum_show_list_user{
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}

.ebsum_show_list_user:last-child{
    border-bottom: none !important;
}


.ebsum_setting_posttypes{
    padding: 0 2.5% 2.5% 2.5%;
    display: none;
}

.ebsum_setting_wrapper_wrapper{
    padding:  2.5% 2.5% 0 2.5%;
    display: flex;
    justify-content: space-between;

    align-items: center;
}

.ebsum_showmorepostbutton{
    margin-bottom: -17px;
    margin-top: -7px;
}

#ebsum_hideposts{
    display: none;
}

#ebsum_showmoreposts{
    border: none;
    text-align: center;
    background-color: unset;
    cursor: pointer;
    border: none;
    margin-left: 50%;

}

#ebsum_showlessposts{
    border: none;
    text-align: center;
    background-color: unset;
    cursor: pointer;
    display: none;
    margin-left: 50%;
}

.ebsum_showmore{
    display: grid !important;
}

.ebsum_showbutton {
    display: block !important;
}

.ebsum_hidebutton {
    display: none !important;
}

li.ebsum_settingslist{
    display: grid;
    grid-template-columns: 180px auto;
    background: none !important;
}